      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/benben">benben</a></p>
      </footer>
    </div>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function (){
        $('#content p a').each(function(){
          if ($(this).parent().next().is(":visible")) {
            $(this).children('i').removeClass('icon-chevron-right').addClass('icon-chevron-down');
          };
        });
        $('#content p a').click(function(ev){
          ev.preventDefault();
          if ($(this).parent().next().is(":visible")) {
            console.log('collapse!');
            $(this).children('i').removeClass('icon-chevron-down').addClass('icon-chevron-right');
            $(this).parent().next().hide();
          } else {
            console.log('expand!');
            $(this).children('i').removeClass('icon-chevron-right').addClass('icon-chevron-down');
            $(this).parent().next().show();
          }
        });
      });
    </script>
  </body>
</html>
