<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>openFrameworks testing</title>
    <link rel="stylesheet" href="<%= @asset_folder %>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= @asset_folder %>css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>openFrameworks testing</h1>
        <p>automatic cross-platform testing suite for openframeworks</p>
      </header>
      <section id="content">
